{% include "doc_navbar.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-gziE9+T1Jn3s3sKKNM30AXn+MCM1Ccwwe67zqFyPyCNIOB0Kg6YR/vP+yH+ZOVdMO6L90Uz2uHK1V8eKft4x9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</script>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-MyRbYzJ+9a9d/2WNSMyyOJ3+W/e7VHeLdk43Ww7CK/jR/qACG+j9aa/zftLRdQ2Z1lCr3qDh7Vdcp+LSSwz4yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-6x07aZrH34MWm5MzvO8+mQ5LzTG3/5ULiXf0x8W/xOcRZG0doZfzBqpEGM+8ySWGLpDk1gNCcHTXjxH8oJrV2Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-lJfLgzHs9+8MF8r+oV6BdM6v5Ak7eWn8mJq+3a/cnGptXJQx8cRNXmR0hYzvKRApFwjmrbV6N+1HzbI9KHvN8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/images/p1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static '/images/p2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static '/images/p3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
